.about-text {
  overflow: hidden;
  color: var(--Color-black, #000);
  text-overflow: ellipsis;
  font-family: "Lazare Grotesk Trial";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.about {
  padding-top: 130px;
}
