.btn {
  border-radius: 10px;
  background: var(--brown);
  transition: transform 0.4s ease-in;
}

.btn:hover {
  transform: scale(1.04);
}

.btn-information {
  display: flex;
}

.btn-information a {
  text-decoration: none;
  color: var(--orange-light);
  font-family: "LazareGroteskBold";
  font-size: 32px;
  text-transform: uppercase;
}

.btn-icon {
  fill: var(--orange-light);
  stroke: var(--orange-light);
}

@media screen and (max-width: 1400px) {
  .btn-information a {
    font-size: 25px;
  }

  .btn-icon {
    width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .btn-information a {
    font-size: 18px;
  }

  .btn-icon {
    display: none;
  }
}
