.btn {
  border-radius: 10px;
  background: var(--brown);
  margin-top: 200px;
  transition: transform 0.4s ease-in;
}

.btn:hover {
  transform: scale(1.04);
}

.btn-information {
  display: flex;
}

.btn-information a {
  text-decoration: none;
  color: var(--orange-light);
  font-family: "LazareGroteskBold";
  font-size: 32px;
  text-transform: uppercase;
  padding: 23px;
  padding-left: 36px;
}

.btn-icon {
  padding-top: 15px;
  padding-left: 35px;
  fill: var(--orange-light);
  stroke: var(--orange-light);
}

@media screen and (max-width: 1400px) {
  .btn {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .btn-information {
    display: flex;
  }

  .btn-information a {
    font-size: 25px;
    padding: 20px;
  }

  .btn-icon {
    width: 50%;
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .btn {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .btn-information {
    display: flex;
  }

  .btn-information a {
    font-size: 18px;
    padding: 20px;
  }

  .btn-icon {
    display: none;
  }
}
