.burger {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 3;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  background: var(--Color-2, #e76013);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(100%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

li > a {
  text-decoration: none;
}

.menu-social {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 50px;
}

.menu-ancre-border {
  position: relative;
  margin-bottom: 20px;
}

.menu-border-hover {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 5px;
  background: var(--bar-color, rgb(255, 255, 255));
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.menu-ancre-border:hover .menu-border-hover {
  transform: scaleX(1.2);
  transform-origin: right;
}

.menu-icon-social {
  width: 120%;
  padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .burger {
    position: fixed;
    top: 0px;
    right: -20px;
  }

  .burger svg {
    width: 60%;
  }

  .menu {
    padding: 10px;
  }

  li {
    font-size: 30px;
  }

  .menu-social {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
  }

  .menu-social li a {
    width: 100%;
    padding: 40px;
  }

  .menu-ancre-border {
    position: relative;
    margin-bottom: 30px;
  }

  .menu-border-hover {
    width: 60%;
  }

  .menu-icon-social {
    width: 60%;
    padding-bottom: 0;
    margin: 10px;
  }
}
