.burger {
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 3;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  text-align: end;
  justify-content: center;
  background: var(--orange-light);
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateX(100%);
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
  overflow: hidden;
}

.menu-social {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 50px;
}

.menu-ancre-border {
  position: relative;
}

.menu-border-hover {
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  width: 40%;
  height: 5px;
  background: var(--white);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-in-out;
}

.menu-ancre-border:hover .menu-border-hover {
  transform: scaleX(1.2);
  transform-origin: right;
}

.menu-icon-social {
  width: 120%;
}

.menu-social li a img {
  transition: transform 0.4s ease-in;
}

.menu-social li a:hover img {
  transform: scale(1.2);
}

.menu-changement-langue {
  position: absolute;
  top: 20%;
}

.menu-langue {
  font-size: 40px;
  color: var(--white);
  padding: 20px;
}

@media screen and (max-width: 850px) {
  .burger {
    top: 20px;
  }

  .burger svg {
    width: 100%;
  }

  .menu-social {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
  }

  .menu-social li a {
    width: 100%;
  }

  .menu-ancre-border {
    position: relative;
  }

  .menu-border-hover {
    width: 70%;
  }

  .menu-icon-social {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .burger {
    top: 0px;
    right: 10px;
    top: 5px;
  }

  .burger svg {
    width: 60%;
  }
}

@media screen and (max-width: 500px) {
  .burger {
    right: -10px;
    top: 10px;
  }

  .burger svg {
    width: 70%;
  }

  .menu-social li a {
    width: 100%;
  }

  .menu-border-hover {
    width: 60%;
  }
}
