.card {
  border-radius: 10px;
  margin: 20px 13px;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.card-information {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 20px;
  display: flex;
  width: 153px;
  height: 31px;
  padding: 7px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: var(--orange-vif-fonce, #da4316);
  margin-left: 5%;
  position: absolute;
  bottom: 140px;
}

.card-btn a {
  border-radius: 10px;
  background: #3f0f03;
  color: var(--Color-2, #e76013);
  font-family: "Lazare Grotesk Trial";
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 17px;
  margin: 20px;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5%;
  margin-bottom: 20px;
  flex: 1;
  width: 90%;
}

.card-btn a {
  text-decoration: none;
}

.card-hover {
  opacity: 0;
  transition: all 0.2s ease-out;
}

.card:hover .card-hover {
  opacity: 100%;
}

.card-ql {
  height: 91.5%;
  background: #fff;
}

.card-ql .card-cl-img {
  width: 100%;
  padding: 20px;
}
