.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav a {
  display: flex;
  text-decoration: none;
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.footer-nav a img {
  padding-right: 20px;
}

.footer {
  background: #3f0f03;
  position: relative;
  padding-bottom: 25px;
}

.footer-orange {
  width: 30%;
  height: 100%;
  background: var(--Color-2, #e76013);
  position: absolute;
  top: 0;
  right: 0;
}

.footer-icon {
  width: 134.92px;
  height: 134.92px;
  position: absolute;
  right: 45px;
  bottom: 25px;
}

.footer-comeback-img {
  width: 70%;
  position: absolute;
  bottom: 70px;
  left: 60px;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.footer-orange:hover .footer-comeback-img {
  opacity: 1;
}

.footer-credit {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.footer-mail {
  width: 5%;
}
