.footer-nav {
  display: flex;
  flex-direction: column;
  margin-left: 15%;
}

.footer-nav a {
  display: flex;
  text-decoration: none;
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 23px;
  transition: all 0.4s ease-in;
}

.footer-nav a:hover {
  transform: scale(1.2);
  color: #e76013;
}

.footer-nav a img {
  padding-right: 20px;
}

.footer {
  background: #3f0f03;
  position: relative;
  padding-bottom: 25px;
}

.footer-orange {
  width: 30%;
  height: 100%;
  background: var(--Color-2, #e76013);
  position: absolute;
  top: 0;
  right: 0;
}

.footer-icon {
  width: 134.92px;
  height: 134.92px;
  position: absolute;
  right: 45px;
  bottom: 25px;
}

.footer-comeback-img {
  width: 70%;
  position: absolute;
  bottom: 120px;
  left: 50px;
  opacity: 0;
  transition: all 0.2s ease-out;
  z-index: 4;
}

.footer-orange:hover .footer-comeback-img {
  opacity: 1;
}

.footer-credit {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}

.footer-mail {
  width: 8%;
}

.footer-title {
  padding-bottom: 30px;
}

.footer-star-icon {
  display: none;
}

@media screen and (max-width: 900px) {
  .footer-mail {
    width: 10%;
  }
}

@media screen and (max-width: 600px) {
  .footer-nav {
    display: flex;
    margin-left: 15%;
  }

  .footer-nav a {
    display: flex;
    font-size: 14px;
    margin-bottom: 23px;
    padding-top: 5px;
    transition: all 0.4s ease-in;
  }

  .footer-nav a:hover {
    transform: scale(1.1);
    color: #e76013;
  }

  .footer-nav a img {
    display: none;
  }

  .footer-orange {
    width: 30%;
    height: 100%;
    background: var(--Color-2, #e7611300);
  }

  .footer-icon svg {
    width: 50%;
    height: 50%;
    position: absolute;
    right: 0%;
    transition: transform 0.4s ease-in;
  }

  .footer-orange:hover .footer-icon svg {
    transform: scale(1.1);
  }

  .footer-star-icon {
    display: block;
    position: absolute;
    width: 90px;
    right: 10px;
    top: 240px;
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  .footer-orange:hover .footer-star-icon {
    opacity: 1;
  }

  .footer-comeback-img {
    display: none;
  }

  .footer-credit {
    font-size: 9px;
  }

  .footer-title {
    font-size: 40px;
  }

  .footer-icon-hover {
    position: relative;
  }
}
