.header-name {
  color: #3f0f03;
  font-family: "Lazare Grotesk Trial";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0 20px;
  line-height: 102.542%;
  text-decoration: none;
}

.header-name-a {
  position: relative;
}

.header-hover-name {
  position: absolute;
  width: 30%;
  top: -40;
  right: 0;
  opacity: 0;
  transition: all 0.2s ease-out;
}

.header-name-a:hover .header-hover-name {
  opacity: 1;
}

.header-name-a {
  margin: 20px 0;
}

.header-hidden {
  transition: transform 0.3s;
}

.header-hidden.hidden-scroll {
  transform: translatey(-200px);
}

@media screen and (max-width: 500px) {
  .header-name {
    font-size: 15px;
  }

  .header-hover-name {
    position: absolute;
    width: 50%;
    top: -20;
    right: 0;
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  .header-name-a:hover .header-hover-name {
    opacity: 1;
  }

  .header-name-a {
    margin: 20px 0;
  }
}
