.intro-text {
  color: var(--black);
  font-size: 30px;
}

.intro-text-all {
  display: flex;
}

@media screen and (max-width: 800px) {
  .intro-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .intro-text {
    font-size: 12px;
  }
}
