.intro-text {
  color: var(--Color-black, #000);
  font-family: "Lazare Grotesk Trial";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 26px;
}

.intro-text-all {
  display: flex;
}
