.projets {
  background: var(--orange-dark);
}

.projet-title {
  color: var(--white);
}

.projet-redirection {
  background: var(--orange-dark);
}

.projet-title-page {
  color: var(--orange-dark);
  font-family: "LazareGroteskBold";
  font-size: 70px;
  text-transform: uppercase;
}

.projet-video-img {
  width: 100%;
}

.projet-info-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.projet-text {
  color: var(--black);
  font-size: 24px;
}

.projet-liens {
  color: var(--orange-dark);
  font-size: 40px;
  text-decoration: underline solid;
  text-transform: uppercase;
}

.projet-info-img {
  width: 100%;
}

.projet-img-1 {
  width: 100%;
}

.projet-img-wk-bg {
  width: 100%;
}

.projet-video-ql {
  left: 40;
}

@media screen and (max-width: 800px) {
  .projet-title-page {
    font-size: 70px;
  }

  .projet-video-img {
    width: 100%;
  }

  .projet-text {
    font-size: 20px;
  }

  .projet-liens {
    font-size: 20px;
  }

  .projet-video-ql {
    left: 0;
  }
}

@media screen and (max-width: 500px) {
  .projet-title-page {
    font-size: 30px;
  }

  .projet-liens {
    font-size: 20px;
  }
}
