.redirection-title {
  color: var(--Color-white, #fff);
  padding-top: 70px;
}

.redirection-img {
  margin-top: 80px;
}

.redirection-text {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 37px;
}
