.redirection-title {
  color: var(--Color-white, #fff);
  padding-top: 70px;
  margin-bottom: 0;
}

.redirection-img {
  margin-top: 80px;
  width: 100%;
}

.redirection-text {
  color: var(--Color-white, #fff);
  font-size: 25px;
  padding-top: 37px;
  padding-bottom: 20%;
}

.redirection-btn {
  margin-top: 0;
  border-radius: 10px;
  background: #3f0f03;
  padding: 23px;
  transition: transform 0.4s ease-in;
}

.redirection-btn:hover {
  transform: scale(1.04);
}

.redirection-btn a {
  text-decoration: none;
  color: var(--Color-2, #e76013);
  font-family: "LazareGroteskBold";
  font-size: 32px;
  text-transform: uppercase;
  padding: 40%;
}

.redirection-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .redirection-title {
    padding-top: 70px;
    margin-bottom: 0;
  }

  .redirection-img {
    margin-top: 60px;
  }

  .redirection-text {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .redirection-btn {
    padding: 10px;
  }

  .redirection-btn a {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .redirection-text {
    font-size: 20px;
  }

  .redirection-btn {
    margin-top: 0;
  }

  .redirection-btn {
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  .redirection-btn {
    padding: 15px;
  }

  .redirection-btn a {
    font-size: 22px;
  }
}
