* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.row + .row {
  margin-top: 16px;
}

// .row > .col,
// .row > [class^="col-"] {
//   padding-top: 12px;
//   padding-bottom: 12px;
//   background-color: rgba(86, 61, 124, 0.15);
//   border: 1px solid rgba(86, 61, 124, 0.2);
// }

header {
  background: var(--Color-2, #e76013);
  width: 100%;
  position: fixed;
  z-index: 3;
}

h3 {
  color: var(--Color-2, #e76013);
  font-family: "Lazare Grotesk Trial";
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 85.71%; /* 82.281px */
}

h4 {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 58px;
}

h5 {
  color: var(--orange-vif-fonce, #da4316);
  font-family: "Lazare Grotesk Trial";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

h6 {
  color: var(--Color-white, #fff);
  font-family: "Lazare Grotesk Trial";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
