@font-face {
  font-family: "LazareGroteskBold";
  src: url("../fonts/LazareGroteskBold.woff2") format("woff2"),
    url("../fonts/LazareGroteskBold.woff") format("woff"),
    url("../fonts/LazareGroteskBold.ttf") format("truetype");
}

@font-face {
  font-family: "LazareGroteskRegular";
  src: url("../fonts/LazareGroteskRegular.woff2") format("woff2"),
    url("../fonts/LazareGroteskRegular.woff") format("woff"),
    url("../fonts/LazareGroteskRegular.ttf") format("truetype");
}

:root {
  --white: #fff;
  --orange-dark: #da4316;
  --orange-light: #e76013;
  --brown: #3f0f03;
  --brown-0: #e7611300;
  --black: rgba(0, 0, 0, 1);
}

html {
  overflow-x: hidden;
  background: var(--white);
  font-family: "LazareGroteskRegular";
}

.inner::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header {
  background: var(--orange-light);
  font-family: "LazareGroteskBold";
  width: 100%;
  position: fixed;
  z-index: 3;
}

h3 {
  color: var(--orange-light);
  font-family: "LazareGroteskBold";
  font-size: 90px;
  text-transform: uppercase;
  line-height: 85.71%;
}

h4 {
  color: var(--white);
  font-family: "LazareGroteskBold";
  font-size: 70px;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 58px;
}

h5 {
  color: var(--orange-dark);
  font-family: "LazareGroteskBold";
  font-size: 64px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

h6 {
  color: var(--white);
  font-family: "LazareGroteskBold";
  font-size: 48px;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  h3 {
    font-size: 65px;
  }
}

@media screen and (max-width: 900px) {
  h3 {
    font-size: 60px;
  }

  h4 {
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 58px;
  }

  h5 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  h6 {
    font-size: 30px;
  }
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 58px;
  }

  h5 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
